.footer {
    background-color: lighten($azulMain, 10%);
    height: 120px;
    color: #333;
    padding: 1em 0;
    & ul {
        overflow: auto;
        padding-left: 15%;
        width: 100%;
    }
    & li {
        overflow: hidden;
        box-sizing: border-box;
        list-style: none;
        padding: 0;
        width: 20%;
        & a {
            font-size: 1.5em;
            color: #333;
            display: block;
            text-align: center;
            &:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
                transition: 1s ease;
            }
        }
    }
}