.header {
    height: 400px;
    background-color: lighten($azulMain, 10%);
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 400px;
    overflow: hidden;
    &__logo {
        float: left;
        display: block;
    }
    &__titleBox {
        float: right;
        text-align: left;
        @media screen and (min-width: 1200px) {
            border-left: 5px double;
            padding: 15px;
        }
        @media screen and (max-width: 1199px) {
            border-top: 5px double;
            padding: 15px;
        }
    }
    & .header__title {
        font-family: 'Times New Roman', Times, serif;
        font-size: 38px;
        font-weight: bold;
        @media screen and (max-width: 1199px) {
            font-size: 26px;
        }
    }
    & .header__subtitle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 32px;
        @media screen and (max-width: 1199px) {
            font-size: 22px;
        }
    }
}