.js.menuOpened {
    overflow: hidden;
    &:after {
        content: "";
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .5);
    }
}

.mainNavigation {
    background-color: lighten($azulMain, 1%);
    .js & {
        height: $altura;
    }
    &__hamburgger {
        height: 100%;
        display: none;
        .js & {
            display: initial;
            float: right;
            height: 100%;
            border: none;
            background: transparent;
            font-size: 2em;
            color: darken($azulMain, 40%);
            padding: 5px;
            &:hover,
            &:focus {
                background-color: darken($azulMain, 20%);
            }
            @media screen and (min-width: #{$breakPoint}) {
                display: none;
            }
        }
    }
    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            background-color: lighten($azulMain, 1%);
            z-index: 20;
            color: $amareloMain;
            display: block;
            font-size: 1.5em;
            border-top: 1px solid darken($azulMain, 10%);
            padding: 1em;
        }
        .js & {
            @media screen and (max-width: #{$breakPoint}) {
                position: fixed;
                z-index: 10;
                top: $altura;
                left: -100%;
                width: 80%;
                bottom: 0;
                transition: left .3s ease-out;
            }
        }
        .menuOpened & {
            display: block;
            @media screen and (max-width: #{$breakPoint}) {
                left: 0;
            }
        }
        @media screen and (min-width: #{$breakPoint}) {
            float: right;
            height: $altura;
            li {
                display: inline-block;
                a{
                    border-top: none;
                    margin-top: -10px;
                    transition: all .3s ease-in-out;
                    padding: 15px;

                    &:hover {
                        list-style: none;
                        text-decoration: none;
                        transform: translateY(.5em);
                        box-shadow: 0 5px 35px -10px black;
                    }
                }
            }
        }
    }
}